{% extends 'layoutErrors.html' %}

{%block content%}

<section class="notFound">
    <div class="img">
    <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" width="660px"  alt="Back to the Homepage"/>
    <img src="https://assets.codepen.io/5647096/Delorean.png" width="660px" alt="El Delorean, El Doc y Marti McFly"/>
    </div>
    <div class="text">
    <h1>404</h1>
    <h2>PAGINA NO ENCONTRADA</h2>
    <h3>¿Regresar al inicio?</h3>
    <a href="/" class="yes">Si</a>
    <a href="https://www.youtube.com/watch?v=XdkAe2BFCZw" target="_blank">  NO</a>
    </div>
</section>

{%endblock  content%}