{% extends 'base.html' %}
{%block content%}

<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							
							<div class="card">
								<h5 class="card-header bg-dark text-white">
									Quienes somos?
								</h5>
								<div class="card-body">
									<p class="card-text">
										<h3>
                                         
                                          <img src="../static/img/logocinepolis.png" width="190" height="60px" alt="" >
                                        </h3>
                                        <h5>Vision:</h5> 
                                        <p>
                                          Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
                                        </p>
                                        <br>
                                        <h5> Mision:  </h5>
                                        <p>
                                           Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
                                        </p>

                                        
									</p>
								</div>
								<div class="card-footer">
									GamePlanet
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <br>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header bg-dark text-white">
							Contactos
						</h5>
						<div class="card-body">
							<p class="card-text">
								<div class="container">
                                    <div class="container">
                                        <h4>Ubicacion Mapa</h4>
                                        <div class="container">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.506413160018!2d-101.62839068584141!3d21.092367290981382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbe0df33ec255%3A0x13f2ae735159b543!2sGamePlanet%20Altacia%20Leon!5e0!3m2!1ses-419!2smx!4v1647142963180!5m2!1ses-419!2smx" style="border:0" allowfullscreen="" frameborder="0" height="250" width="100%" loading="lazy"></iframe>
                                            
                                        </div>
                                        <strong>Contactenos</strong><br><strong>Oficina:</strong> 123456789
                                        
                                        
                                        <br>
                                        <address>
                                            <strong>Twitter, gameplanet.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">Tel:</abbr>(123) 456-7890
                                       </address>
                                        
                                        <hr>
                                    </div>
                                    <div class="container">
                                        <form role="form" id="Formulario" action="" method="POST" novalidate>
                                            <div class="form-group row">
                                                <label class="col-4 col-form-label" for="txtNombre">Nombre:</label> 
                                                <div class="col-8">
                                                  <div class="input-group">
                                                    <div class="input-group-prepend">
                                                      <div class="input-group-text">
                                                        <i class="fa fa-address-book"></i>
                                                      </div>
                                                    </div> 
                                                    <input id="txtNombre" name="txtNombre" placeholder="Ingrese el nombre del viedeojuego" type="text" class="form-control" required="required">
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label for="txtMotivo" class="col-4 col-form-label">Motivo</label> 
                                                <div class="col-8">
                                                  <select id="txtMotivo" name="txtMotivo" class="custom-select" required="required">
                                                    <option value="1">Sugerencia</option>
                                                    <option value="1">Reclamo</option>
                                                    <option value="1">Solicitud</option>
                                                  </select>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label for="txtCorreo" class="col-4 col-form-label">Correo:</label> 
                                                <div class="col-8">
                                                  <div class="input-group">
                                                    <div class="input-group-prepend">
                                                      <div class="input-group-text">@</div>
                                                    </div> 
                                                    <input id="txtCorreo" name="txtCorreo" type="text" class="form-control" required="required">
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label for="textarea" class="col-4 col-form-label">Comentario:</label> 
                                                <div class="col-8">
                                                  <textarea id="textarea" name="textarea" cols="40" rows="3" class="form-control" required="required"></textarea>
                                                </div>
                                              </div> 
                                              <div class="form-group row">
                                                <div class="offset-4 col-8">
                                                  <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                              </div>
                                        </form>
                                    </div>       
                                </div>
							</p>
						</div>
						<div class="card-footer">
							GamePlanet
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{%endblock  content%}