{% extends 'base.html' %}

{%block content%}
<main>
    <div class="pelicula-principal">
        <div class="contenedor">
            <h3 class="titulo">Spider-Man 2 PS4</h3>
            <p class="descripcion">
                Narra las aventuras de un grupo de spider-mans. Reunir a todos los arácnidos de las realidades Marvel y ponerlos en una carrera a contrarreloj contra la cacería salvaje de los Inheritors, la carnívora familia de Morlun, dispuestos a acabar con el tótem arácnido completo.
            </p>
            <button role="button" class="boton"><i class="fa fa-play-circle" aria-hidden="true"></i> ver Trailer</button>
            <button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
        </div>
    </div>

    <div class="peliculas-recomendadas contenedor">
        <div class="contenedor-titulo-controles">
            <h3>Video juegos de estreno</h3>
            <div class="indicadores"></div>
        </div>

        <div class="contenedor-principal">
            <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

            <div class="contenedor-carousel">
                <div class="carousel">
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/1.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/2.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/3.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/4.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/5.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/6.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/7.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/1.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/2.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/3.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/1.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/2.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/3.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/4.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/5.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/6.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/7.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/1.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/2.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/3.png" alt=""></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img src="../static/img/4.png" alt=""></a>
                    </div>
                </div>
            </div>

            <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</main>


{%endblock  content%}

